<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traingex</title>
</head>
<body>
    <table>
        <tr>
            <th>Traingex</th>
            <th><a href='dashboard.html'>Dashboard</a></th>
            <th><a href='exercise.html'>Exercise</a></th>
            <th><a href='diet.html'>Diet</a></th>
            <th><a href='sleep.html'>Sleep</a></th>
            <th><a href='form.html'>Add Entry</a></th>
            <th><a href='login.html'>Login</a></th>
        </tr>
    </table>
    
</body>
</html>