<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <table>
        <tr>
            <th>Traingex</th>
            <th><a href="{% url 'Dashboard:dashboard' %}">Dashboard</a></th>
            <th><a href="{% url 'Dashboard:exercise' %}">Exercise</a></th>
            <th><a href="{% url 'Dashboard:diet' %}">Diet</a></th>
            <th><a href="{% url 'Dashboard:sleep' %}">Sleep</a></th>
            <th><a href="{% url 'Dashboard:form' %}">Add Entry</a></th>
            <th><a href="{% url 'Dashboard:login' %}">Login</a></th>
            <th><a href="{% url 'Dashboard:register' %}">Register</a> </th>
        </tr>
    </table>
    <h1>Exercise Score placeholder</h1>
    <h1>{{ request.user.username }}'s Diet Information</h1>
    <table>
        <tr>
            <th>Date</th>
            <th>Weight</th>
            <th>Calories</th>
            <th>Protein</th>
            <th>Fat</th>
            <th>Carbs</th>
        </tr>
        {% for macro in user.macro.all %}
        <tr>
            <th>{{macro.date}}</th>
            <th>{{macro.currentWeight}}</th>
            <th>{{macro.calories}}</th>
            <th>{{macro.protein}}</th>
            <th>{{macro.fat}}</th>
            <th>{{macro.carbs}}</th>
        </tr>
        {% endfor %}
    </table>
    <h1>{{ request.user.username }}'s Sleep Data</h1>
    <table>
        <tr>
            <th>Date</th>
            <th>Hours of Sleep</th>
            <th>Wake Up</th>
            <th>quality</th>
        </tr>
        {% for entry in user.Sleep.all %}
        <tr>
            <th>{{entry.date}}</th>
            <th>{{entry.sleepHours}}</th>
            <th>{{entry.wakeUp}}</th>
            <th>{{entry.quality}}</th>
        </tr>
        {% endfor %}
    </table>
</body>
</html>