<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Dashboard</title>
</head>

<body>

    {% include "navbar.html" %}

    <h1 class="tag is-large is-rounded is-light has-marg m-3">{{ request.user.first_name }}'s Data</h1>
    {% for data in all %}
    <h2 class='title is-3 has-marg m-3'>{{data.date}}</h2>
    <div class='box mr-5 ml-5'>
        <table class='table is-fullwidth is-hoverable'>
            <tr>
                <th>Height</th>
                <th>Weight</th>
                <th>Calories</th>
                <th>Protein</th>
                <th>Fat</th>
                <th>Carbs</th>
            </tr>
            <tr>
                <th>{{data.height}}</th>
                <th>{{data.weight}}</th>
                <th>{{data.calories}}</th>
                <th>{{data.protein}}</th>
                <th>{{data.fat}}</th>
                <th>{{data.carbs}}</th>
            </tr>
        </table>
    </div>
    {% endfor %}