<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Exercise</title>
</head>

<body>
    {% include "navbar.html" %}
    <div class='columns'>
        <div class='column is-three-quarters'>
            <h1 class="tag is-large is-rounded is-light has-marg m-3">{{ request.user.first_name }}'s Exercise
                Information
            </h1>
            <div class='box mr-5 ml-5'>
                <table class='table is-fullwidth is-hoverable'>
                    <tr>
                        <th>Date</th>
                        <th>Weight</th>
                        <th>Exercise</th>
                        <th>Length</th>
                        <th>Calories</th>
                    </tr>
                    {% for i in user.Exercise.all %}
                    <tr>
                        <th>{{i.date}}</th>
                        <th>{{i.weight}}</th>
                        <th>{{i.exercise}}</th>
                        <th>{{i.length}}</th>
                        <th>{{i.calories}}</th>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="column has-marg mr-3 mt-3">
            {% include 'form.html' %}
        </div>
    </div>
</body>

</html>