<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Form</title>
</head>
<body>
    <div class='card'>
        <header class="card-header">
            <p class="card-header-title">
                Add Entry
            </p>
        </header>
        <div class='card-content'>
            <form action = "" method = POST>
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <div class='columns'>
                        <div class='column is-one-third'>
                            <label class="label">{{field.label}}</label>
                        </div>
                        <div class='column'>
                            {{field}}
                        </div>
                    </div>
                {% endfor %}
                <button type = "submit" class = "button is-primary">Enter</button> 
            </form>
        </div>
    </div>
</body>