<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Welcome to your fitness Dashboard!</h1>
    <form action="/sleep.html">
      <input type="submit" value="Go to the Sleep tab" />
    </form>
    <br>
    <label for="file">Sleep progress:</label>
    <progress id="file" value="50" max="100"> 50% </progress>
    <br>
    <form action="/diet.html">
      <input type="submit" value="Go to the Diet tab" />
    </form>
    <br>
    <label for="file">Diet progress:</label>
    <progress id="file" value="50" max="100"> 50% </progress>
    <br>
    <form action="/exercise.html">
      <input type="submit" value="Go to the Exercise tab" />
    </form>
    <br>
    <label for="file">Exercise progress:</label>
    <progress id="file" value="50" max="100"> 50% </progress>
    <br>
    <form action="/register.html">
      <input type="submit" value="Go to the Register tab" />
    </form>
    <br>
    <br>
    <script src="script.js"></script>
  </body>
</html>