<!DOCTYPE html>
<html>
    
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
	<title>Login</title>
	<style>
		.mt-4 {
			width: 100%;
		}
	</style>
</head>
<body>
	<nav class="navbar is-light navbar-box-shadow-size" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
		  <a class="navbar-item " href="{% url 'Dashboard:dashboard' %}">
			<span class='tag is-large is-rounded is-info'>
				Traingex
			</span>  
		  </a>
		  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		  </a>
		</div>
		<div class='navbar-end'>
			<div class="navbar-item">
				<div class="buttons">
					<a class="button is-link is-light" href="{% url 'Dashboard:register' %}">
					<strong>Register</strong>
					</a>
				</div>
			</div>
		</div>
	</nav>
	<div class='columns is-centered'>
		<div class='column is-two-fifths has-marg m-3'>
			<div class='card'>
				<header class="card-header">
					<p class="card-header-title">
						Login
					</p>
				</header>
				<div class='card-content'>
					<form action = "" method = POST>
						{% csrf_token %}
							<div class='columns'>
								<div class='column is-one-third'>
									<label class="label">Username</label>
								</div>
								<div class='column'>
									<input class="input" name='username' type="text" placeholder="username">
								</div>
							</div>
							<div class='columns'>
								<div class='column is-one-third'>
									<label class="label">Password</label>
								</div>
								<div class='column'>
									<input class="input" name='password' type="password" placeholder="password">
								</div>
							</div>
						<button type = "submit" class = "button is-link">Enter</button> 
					</form>
				</div>
			</div>
			
		</div>
	</div>
	
</body>

</html>