<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="windows-1252">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .container {
            overflow: hidden
        }

        .tab {
            float: left;
        }

        .tab-2 {
            margin-left: 50px
        }

        .tab-2 input {
            display: block;
            margin-bottom: 10px
        }

        tr {
            transition: all .25s ease-in-out
        }

        tr:hover {
            background-color: #EEE;
            cursor: pointer
        }
    </style>

</head>

<body>
    <table>
        <tr>
            <th>Traingex</th>
            <th><a href="{% url 'Dashboard:dashboard' %}">Dashboard</a></th>
            <th><a href="{% url 'Dashboard:exercise' %}">Exercise</a></th>
            <th><a href="{% url 'Dashboard:diet' %}">Diet</a></th>
            <th><a href="{% url 'Dashboard:sleep' %}">Sleep</a></th>
            <th><a href="{% url 'Dashboard:form' %}">Add Entry</a></th>
            <th><a href="{% url 'Dashboard:logout' %}">Login</a></th>
            <th><a href="{% url 'Dashboard:store' %}">Store</a> </th>
        </tr>
    </table>
    
    
    <div class = "Add data"> 
        <h1>User Record: Welcome back </h1>
        <form action = "" method = POST>
            {% csrf_token %}
            {{form.as_p}}
            <button type = "submit" class = "btn btn-sucess">Enter</button> 
        </form>
    </div>


    <p>What is your goal:</p>
    <input type="radio" id="goal1" name="goal" value="lose">
    <label for="goal1">lose fat</label><br>
    <input type="radio" id="goal2" name="goal" value="maintain">
    <label for="goal2">maintain weight</label><br>
    <input type="radio" id="goal3" name="goal" value="build">
    <label for="goal3">build muscle</label><br><br>
    <input type="Submit" value="Submit" onclick="return calcBMI()">
    <b> Your BMI: </b>
    <span id="BMI"></span>
    <p id="macros"></p>
    </form>


    <script>
        function calcBMI() {
            var h, w, BMI
            h = document.getElementById("height").value;
            w = document.getElementById("weight").value;
            document.getElementById('BMI').innerHTML = (w * (703)) / (h * h);

            var sel = document.getElementsByName("goal");
            if (sel[0].checked) {
                document.getElementById("macros").innerHTML = "Based on your BMI and goal, you should eat " + 0.85 * w + " g of protein, " + 0.4 * w + " g of fat and rest in carbs. Please track your daily macros below to meet these goals."
            } else if (sel[1].checked) {
                document.getElementById("macros").innerHTML = "Based on your BMI and goal, you should eat " + 0.85 * w + "g of protein" + 0.4 * w + " g of fat" + "and rest in carbs. Please track your daily macros below to meet these goals."
            } else {
                document.getElementById("macros").innerHTML = "Based on your BMI and goal, you should eat " + 0.85 * w + "g of protein" + 0.4 * w + " g of fat" + "and rest in carbs. Please track your daily macros below to meet these goals."
            }

        }
    </script>
    <!--  Adapted and modifiedfrom tutorial shown below 
    - 1BestCSharp Blog
    - 4/4/2017
    - Whttps://www.youtube.com/watch?v=KnKMGCSPj3Y
    >
    -->
    <div class="container">
        <div class="tab tab-1">
            <table id="table" border="5">
                <tr>
                    <th>Date</th>
                    <th>Current Weight (LB)</th>
                    <th>Calorie Intake (KCal)</th>
                    <th>Protein (g)</th>
                    <th>Carbohydrates (g)</th>
                    <th>Fats (g)</th>
                </tr>
                <tr>
                    <td>2021-10-30</td>
                    <td>159</td>
                    <td>2632</td>
                    <td> 60 </td>
                    <td> 225 </td>
                    <td> 50 </td>
                </tr>
            </table>
        </div>
        <div class="tab tab-2">
            Date :<input type="date" name="dat" id="dat">
            Current Weight :<input type="text" name="weight" id="weight">
            Calorie Intake :<input type="number" name="cal" id="cal">
            Protein Intake :<input type="number" name="protein" id="protein">
            Carbs Intake :<input type="number" name="carb" id="carb">
            Fats Intake :<input type="number" name="fats" id="fats">


            <button onclick="addHtmlTableRow();">Add</button>
            <button onclick="removeSelectedRow();">Remove</button>
        </div>
    </div>

    <script>

        var rIndex,
            table = document.getElementById("table");

        function checkEmptyInput() {
            var isEmpty = false,
                dat = document.getElementById("dat").value,
                weight = document.getElementById("weight").value,
                cal = document.getElementById("cal").value;
            protein = document.getElementById("dat").value,
                carb = document.getElementById("weight").value,
                fats = document.getElementById("cal").value;

            if (dat === "") {
                alert("Date Cannot Be Empty");
                isEmpty = true;
            }
            else if (weight === "") {
                alert("Weight Cannot Be Empty");
                isEmpty = true;
            }
            else if (cal === "") {
                alert("Calorie Cannot Be Empty");
                isEmpty = true;
            }
            else if (protein === "") {
                alert("Protein Cannot Be Empty");
                isEmpty = true;
            }
            else if (carb === "") {
                alert("Carbohydrates Cannot Be Empty");
                isEmpty = true;
            }
            else if (fats === "") {
                alert("Fats Cannot Be Empty");
                isEmpty = true;
            }
            return isEmpty;
        }

        function addHtmlTableRow() {
            if (!checkEmptyInput()) {
                var newRow = table.insertRow(table.length),
                    cell1 = newRow.insertCell(0),
                    cell2 = newRow.insertCell(1),
                    cell3 = newRow.insertCell(2),
                    cell4 = newRow.insertCell(3),
                    cell5 = newRow.insertCell(4),
                    cell6 = newRow.insertCell(5),
                    dat = document.getElementById("dat").value,
                    weight = document.getElementById("weight").value,
                    cal = document.getElementById("cal").value;
                protein = document.getElementById("protein").value;
                carb = document.getElementById("carb").value;
                fats = document.getElementById("fats").value;

                cell1.innerHTML = dat;
                cell2.innerHTML = weight;
                cell3.innerHTML = cal;
                cell4.innerHTML = protein
                cell5.innerHTML = carb;
                cell6.innerHTML = fats;
                selectedRowToInput();
            }
        }

        // display selected row data into input text
        function selectedRowToInput() {

            for (var i = 1; i < table.rows.length; i++) {
                table.rows[i].onclick = function () {
                    rIndex = this.rowIndex;
                    document.getElementById("dat").value = this.cells[0].innerHTML;
                    document.getElementById("weight").value = this.cells[1].innerHTML;
                    document.getElementById("cal").value = this.cells[2].innerHTML;
                    document.getElementById("protein").value = this.cells[3].innerHTML;
                    document.getElementById("carb").value = this.cells[4].innerHTML;
                    document.getElementById("fats").value = this.cells[5].innerHTML;
                };
            }
        }
        selectedRowToInput();


        function removeSelectedRow() {
            table.deleteRow(rIndex + 1);
            document.getElementById("dat").value = "";
            document.getElementById("weight").value = "";
            document.getElementById("cal").value = "";
            document.getElementById("protein").value = "";
            document.getElementById("carb").value = "";
            document.getElementById("fats").value = "";
        }
    </script>

</body>

</html>

